<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
      <a href="#" class="navbar-brand">Recipe Book</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <div class="navbar-group">
          <div class="nav-item">
            <a
            class="nav-link"
            routerLink="/recipes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >Recipes</a></div>
          <div class="nav-item">
            <a
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >Shopping List</a></div>
        </div>

        <div class="nav-item dropdown-center ml-auto" appDropdown>
          <a class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >
            Dropdown
          </a>
          <div class="dropdown-menu">
            <div><a class="dropdown-item">Action</a></div>
            <div><a class="dropdown-item">Another action</a></div>
            <div><hr class="dropdown-divider"></div>
            <div><a class="dropdown-item">Something else here</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

