<ng-template [ngIf]="recipe">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="dropdown" appDropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <div><a class="dropdown-item" style="cursor: pointer;" (click)="onAddToShoppingList()">To shopping List</a></div>
          <div><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></div>
          <div><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></div>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredients
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
          >{{ ingredient.name }} - {{ ingredient.amount }}</li>
      </ul>
    </div>
  </div>
</ng-template>

